<div id="loader"></div>

<nav id="navbar" class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <h1>Vincent Beheray</h1>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#welcome" class="smooth">Accueil</a></li>
        <li><a href="#about" class="smooth">A propos</a></li>
        <li><a href="#portfolio" class="smooth">Portfolio</a></li>
      </ul>
    </div>
  </div>
</nav>
