<div id="portfolio-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">×</button>
         <h3 class="modal-title">Heading</h3>
     </div>
     <div class="modal-body">
     </div>
     <div class="modal-footer">
         <button class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
</div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.3/wow.min.js"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
