<section id="welcome" class="text-center">
  <h2 class="wow fadeIn" data-wow-delay="0.4s">Bienvenue !</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 wow fadeIn" data-wow-delay="0.8s">
        <h3>
          <i class="fa fa-quote-left"></i> <em>{{ site.description }}</em> <i class="fa fa-quote-right"></i>
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="marker wow fadeInDown" data-wow-delay="0.4s">
        <a href="#about" class="btn btn-default btn-circle btn-xl smooth">
          <i class="fa fa-angle-double-down"></i>
        </a>
      </div>
    </div>
  </div>
</section>
