body {
  width: 100%;
  height: 100%;
  color: #666;
  background-color: #fff;
}

html {
  width: 100%;
  height: 100%;
}

section {
  min-height: 100%;
}

a, button {
  outline: none !important;
}

h1 {
  padding: 0px;
  margin: -10px 0px 0px 0px;
}

h2 {
  padding: 70px 0px 50px 0px;
  margin: 0px;
  font-size: 70px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 2;
  border-radius: 35px;
}

.blur {
    box-shadow: 0px 0px 20px 20px rgba(255,255,255,1);
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    transform: scale(0.9);
    opacity: 0.6;
  	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.navbar-brand h1{
	color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.nav a {
  color: #ffffff !important;
}

.nav li {
  background: rgba(255, 255, 255, 0.1);
}

.nav li.active {
  background: rgba(255, 255, 255, 0.4);
}

.nav>li>a:focus, .nav>li>a:hover {
  background: rgba(255, 255, 255, 0.6) !important;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: $main-color;
  }
}

.navbar.shrink {
  background: $main-color;
}
